{% extends "myapp/base2.html" %}

{% block content %}
<div class="row mt-2">
    <div class="col-1"></div>
    <div class="col">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Filename</th>
                <th scope="col">Size</th>
                <th scope="col">Upload Time</th>
                <th scope="col">Last Access Time</th>
                <th scope="col">Downloads</th>
            </tr>
            </thead>
            <tbody>
            {% for item in query_results %}
            <tr>
                <th scope="row">{{ item.id }}</th>
                <td><a href="{{ item.url }}">{{ item.name }}</a></td>
                <td>{{ item.size|filesizeformat}}</td>
                <td>{{ item.datetime }} </td>
                <td>{{ item.datetime }} </td>
                <td>{{ item.downloads }} </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-1"></div>
</div>
{% endblock %}
